<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body class="container" style="padding-top: 10px;">
	<div class="btn-group" role="group" aria-label="Basic example" style="padding-bottom: 10px;">
  		<%= link_to 'Crear Evento', new_meeting_path, { :type => "button", :class => "btn btn-secondary"} %>
  		<%= link_to 'Ver Eventos', meetings_path, { :type => "button", :class => "btn btn-secondary"} %>
	</div><br>
	
	<div class="calendar">
	</div>

</body>
</html>